<div class="settings">
    <button class="btn btn-primary" (click)="toggleView()">Grid View</button>
    <button class="btn btn-primary ml-2 mr-2" (click)="toggleView()">List View</button>
    <select (change)="order($event)">
        <option value="1">Price Low->High</option>
        <option value="0">Price High->Low</option>
    </select>

</div>


<div class="container">


    <app-grid-view [products]="products" *ngIf="gridView && products.length > 0"></app-grid-view>
    <app-list-view [products]="products" *ngIf="!gridView && products.length > 0"></app-list-view>

    <div *ngIf="loading" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf="error">
        <span>Something Went Wrong</span>
    </div>

</div>