.container{
    display: grid;
    /* justify-content: center; */
    align-items: center;
    margin-top: 50px;
}


.cursor-style{
    cursor: pointer;
   
}

.cursor-style:hover{
    color: grey;
   
}



td,th{
    text-align: center;
}

@media (max-width: 768px){
   table{
    border-collapse: separate;
    border-spacing: 15px 50px;
   }
}