.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-evenly;
}

.item{
    width: 700px;
    height: 250px;
    border: 1px solid black
}